In [79]:
import numpy as np
import pandas as pd
import math

In [80]:
df = pd.read_csv('flat.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 9, saw 4

In [81]:
with open('flat.csv') as f:
    columns = f.readline().strip().split(';')
    lines = f.readlines()
print(lines[2])
columns

3;12;10;48000;9;1;Да;Развитая инфраструктура района

['ID',
 'DISTANCE',
 'STOP_COUNT',
 'COST',
 'FITNESS',
 'INTERNET',
 'PETS_ALLOWED',
 'ADDITIONAL_INFO']

In [82]:
data = [el.strip().split(';') for el in lines]
len(data)

200

In [83]:
df = pd.DataFrame(data)
df.head()
df.columns = columns
df.head(5)

,ID,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO
0,1,12,6,43000,3,4,Да,
1,2,12,5,24000,17,0,Да,
2,3,12,10,48000,9,1,Да,Развитая инфраструктура района
3,4,3,11,40000,20,1,Да,
4,5,23,1,30000,24,3,Да,

In [84]:
df['ADDITIONAL_INFO'] = df['ADDITIONAL_INFO'].replace('', np.nan)
df.head(3)

,ID,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO
0,1,12,6,43000,3,4,Да,NaN
1,2,12,5,24000,17,0,Да,NaN
2,3,12,10,48000,9,1,Да,Развитая инфраструктура района

In [85]:
for i in range(1, 6):
    df[columns[i]] = df[columns[i]].apply(lambda x: int(x))
    minEl, maxEl = df[columns[i]].min(), df[columns[i]].max()
    print(minEl)
    
    if i == 5:
        df[columns[i]] = df[columns[i]].apply(lambda x: 1 - (x - minEl) / (maxEl - minEl))
        break
        
    df[columns[i]] = df[columns[i]].apply(lambda x: 1 - math.exp(1 - x / minEl))
df.head(3)

3
1
20000
3
0

,ID,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO
0,1,0.950213,0.993262,0.683363,0.000000,0.00,Да,NaN
1,2,0.950213,0.981684,0.181269,0.990596,1.00,Да,NaN
2,3,0.950213,0.999877,0.753403,0.864665,0.75,Да,Развитая инфраструктура района

In [86]:
df = df[df['INTERNET'] != 1]
df.head(3)

,ID,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO
0,1,0.950213,0.993262,0.683363,0.000000,0.00,Да,NaN
2,3,0.950213,0.999877,0.753403,0.864665,0.75,Да,Развитая инфраструктура района
3,4,0.000000,0.999955,0.632121,0.996541,0.75,Да,NaN

In [87]:
df['Target_func_Artem'] = df[columns[1:6]].sum(axis = 1)
df_for_Artem = df.sort_values('Target_func_Artem')
df_for_Artem['ID'] = df_for_Artem['ID'].apply(lambda x: int(x))
df_for_Artem['ID'].iloc[:3]
df_for_Artem.head(3)

,ID,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO,Target_func_Artem
18,19,0.000000,0.0,0.048771,0.974438,0.50,Нет,NaN,1.523209
70,71,0.283469,0.0,0.048771,0.964326,0.25,Нет,Закрытый двор без машин с собственным освещен...,1.546565
55,56,0.950213,0.0,0.807950,0.000000,0.00,Нет,Подземный паркинг,1.758163

In [88]:
#df['PETS_ALLOWED'] = df['PETS_ALLOWED'].replace('Да', 0).replace('Нет', 10)
df = df[df['PETS_ALLOWED'] == 'Да']

In [89]:
df.head(3)
df['ADDITIONAL_INFO'].value_counts()

ADDITIONAL_INFO
Исторический центр Санкт-Петербурга.                                                                                                                              10
Развитая инфраструктура района                                                                                                                                     5
Подземный паркинг                                                                                                                                                  4
Внутренний двор с ландшафтным озеленением, игровыми и спортивными зонами для отдыха, площадка для выгула собак.                                                    3
Панорама с видом на парк Сосновка.                                                                                                                                 3
Огороженная площадка для дрессировки собак на территории парка отдыха.                                                                                             3
Парк отдыха со специально оборудованными зонами для игры с домашними питомцами.                                                                                    2
Внутренний двор с игровыми и спортивными зонами для отдыха, огороженная дрессировочная площадка для собак.                                                         2
Огромная продуманная территория с тематическими зонами, а также 2 муниципальных детских сада и школа, ветклиника для четвероногих питомцев.                        2
Для юных жителей будет обустроена велодорожка, для любителей домашних животных – зона для игр и дрессировки питомцев.                                              2
Для прогулки и тренировок с любимыми четвероногими доступна благоустроенная придомовая территория.                                                                 2
В пешей доступности Муринский парк, Сад «Прометей», сквер Конашевича и другие зоны отдыха                                                                          1
Находится в историческом районе сталинской застройки «Ланской» в окружении многочисленных парков.                                                                  1
Тематические зоны во дворе: всепогодные игровые площадки и беседки, места для уединенного отдыха, спорта, прогулок                                                 1
 В ближайшем окружении работают детские сады, школы, гимназии, спортклубы, бассейны, супермаркеты, рестораны, банк, есть место для выгула четвероногих друзей.     1
Всепогодные игровые площадки и беседки, места для спорта, прогулок, выгула собак                                                                                   1
Огороженная площадка для дрессировки собак на территории парка отдыха                                                                                              1
 Закрытый двор без машин с собственным освещением, посты охраны, детская и спортивная площадки, зона для барбекю, оборудованные площадки для отдыха.               1
Детские игровые площадки, зона отдыха с качелями, площадка для выгула собак, футбольное поле и волейбольно-баскетбольная площадка.                                 1
Name: count, dtype: int64

In [77]:

mask = ['четверо', 'собак', 'выгул']
df_review_pets = df.copy()
df_review_pets['ADDITIONAL_INFO'] = df_review_pets['ADDITIONAL_INFO'].apply(lambda s: 0 if isinstance(s, str) and any(sub in s.lower() for sub in mask) else 1)
df_review_pets.head(3)
#any(df['ADDITIONAL_INFO'] == 0)
df_review_pets['ADDITIONAL_INFO'].value_counts()
df_review_pets['Target_func_Ann'] = df_review_pets[list(df_review_pets.columns[1:6]) + ['ADDITIONAL_INFO']].sum(axis = 1)
df_review_pets = df_review_pets.sort_values('Target_func_Ann')
df_review_pets.head(3)

,ID,DISTANCE,STOP_COUNT,COST,FITNESS,INTERNET,PETS_ALLOWED,ADDITIONAL_INFO,Target_func_Artem,Target_func_Ann
149,150,0.283469,0.000000,0.683363,0.997521,0.00,Да,0,1.964353,1.964353
142,143,0.000000,0.864665,0.787752,0.000000,0.25,Да,1,1.902417,2.902417
193,194,0.486583,0.993262,0.423050,0.000000,0.00,Да,1,1.902895,2.902895

In [44]:
len(df[df['ADDITIONAL_INFO'] == 0])

0