In [82]:
import numpy as np
import pandas as pd
import sklearn 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt

In [80]:
df = pd.read_excel('CERAMICA_DATA.xlsx')
df.value_counts('point')

point
white           34
blue            32
massa           29
1_massa         17
3_white         13
5_blue          12
4_white          5
6_blue           5
massa_pink       4
2_massa          4
massa_white      4
5_white          3
3_blue           2
blue_dak         2
6_massa          2
3_massa          1
blue_dark        1
8_blue           1
blue2            1
massa_pink2      1
massa_white2     1
point            1
white2           1
Name: count, dtype: int64

In [81]:
df

,obrazec,point,Si,K,Ca,Ti,Mn,Fe,Co,Ni,Cu,Zn,Pb1,Pb2,As2,Rb,Sr,Sn,Cr
0,str_5_mid,1_massa,80,281,1394,153,98,4480,97,25,24,45,169,174,50,98,158,10,41
1,str_5_mid,3_white,172,268,202,86,90,215,93,99,161,127,18552,14319,179,101,120,274,84
2,str_5_mid,6_blue,172,344,290,115,103,418,296,205,190,174,21025,15871,198,101,107,302,86
3,str_5_big,1_massa,90,285,2137,182,127,4807,85,71,36,47,235,219,38,82,189,8,47
4,str_5_big,3_massa,88,281,2000,169,91,3827,96,151,15,56,513,445,33,69,180,9,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,rot_9,blue,137,377,341,86,100,1105,1455,1359,156,115,16321,10139,504,120,140,292,78
172,rot_9,massa,52,122,1547,160,78,3850,59,22,38,30,310,285,47,80,215,6,37
173,rot_10,white,150,259,422,89,90,269,73,100,111,109,15691,11627,185,106,130,369,63
174,rot_10,blue,158,301,312,81,101,1417,1157,642,162,137,19475,11575,630,101,141,316,107
175,rot_10,massa,78,400,2409,166,106,5040,856,24,42,58,493,421,44,102,236,3,49

In [74]:
equalZero = df.copy()
equalZero[equalZero.columns[2:]] = pd.DataFrame([equalZero[col].apply(lambda x: x == '0') 
                                                 for col in equalZero.columns[2:]]).T


equalZeroRes = equalZero[equalZero.columns[2:]].sum(axis = 0)
if False not in (equalZero.iloc[0] == 0):
    print('Нет 0 в датафрейме - можно произвести экспоненциальную нормаировку')

Нет 0 в датафрейме - можно произвести экспоненциальную нормаировку

In [79]:
metals = df.columns[2:]
'''for metal in metals:
    df[metal] = df[metal].apply(lambda x: int(x))
    minEl = df[metal].min()
    print(minEl, metal, end = '/n')
    df[metal] = df[metal].apply(lambda x: 1 - np.exp(1 - (x / minEl)))'''
s = df[metals[0]].iloc[0]
type(s)
df[metals[0]].unique()

array([80, 172, 90, 88, 156, 178, 165, 87, 68, 143, 142, 145, 157, 82, 75,
       129, 123, 153, 162, 49, 137, 78, 128, 158, 45, 130, 67, 144, 125,
       63, 57, 146, 70, 135, 151, 136, 164, 73, 139, 65, 161, 86, 141,
       140, 148, 106, 108, 154, 74, 163, 155, 72, 152, 170, 81, 160, 150,
       147, 61, 171, 64, 95, 71, 133, 54, 124, 202, 93, 138, 62, 58, 97,
       168, 111, 134, 149, 'Si', 25, 183, 179, 85, 114, 56, 132, 174, 116,
       89, 43, 131, 52], dtype=object)

In [16]:
X_train, X_test, y_train, y_test = train_test_split(df[ df.columns[2:] ], df['point'], test_size= 0.3, random_state= 42)
y_train

152         massa
128         white
104         massa
78          white
36        4_white
          ...
71          white
106         white
14         6_blue
92     massa_pink
102         white
Name: point, Length: 123, dtype: object

In [ ]:
knn = KNeighborsClassifier()
knn.fit(x = X_train, y= y_train)
knn.predict(X_test)