In [7]:
import numpy as np
import pandas as pd
import sklearn 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_excel('CERAMICA_DATA.xlsx')
df.value_counts('point')

point
white           34
blue            32
massa           29
1_massa         17
3_white         13
5_blue          12
4_white          5
6_blue           5
massa_pink       4
2_massa          4
massa_white      4
5_white          3
3_blue           2
blue_dak         2
6_massa          2
3_massa          1
blue_dark        1
8_blue           1
blue2            1
massa_pink2      1
massa_white2     1
point            1
white2           1
Name: count, dtype: int64

In [9]:
df

,obrazec,point,Si,K,Ca,Ti,Mn,Fe,Co,Ni,Cu,Zn,Pb1,Pb2,As2,Rb,Sr,Sn,Cr
0,str_5_mid,1_massa,80,281,1394,153,98,4480,97,25,24,45,169,174,50,98,158,10,41
1,str_5_mid,3_white,172,268,202,86,90,215,93,99,161,127,18552,14319,179,101,120,274,84
2,str_5_mid,6_blue,172,344,290,115,103,418,296,205,190,174,21025,15871,198,101,107,302,86
3,str_5_big,1_massa,90,285,2137,182,127,4807,85,71,36,47,235,219,38,82,189,8,47
4,str_5_big,3_massa,88,281,2000,169,91,3827,96,151,15,56,513,445,33,69,180,9,64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,rot_9,blue,137,377,341,86,100,1105,1455,1359,156,115,16321,10139,504,120,140,292,78
172,rot_9,massa,52,122,1547,160,78,3850,59,22,38,30,310,285,47,80,215,6,37
173,rot_10,white,150,259,422,89,90,269,73,100,111,109,15691,11627,185,106,130,369,63
174,rot_10,blue,158,301,312,81,101,1417,1157,642,162,137,19475,11575,630,101,141,316,107
175,rot_10,massa,78,400,2409,166,106,5040,856,24,42,58,493,421,44,102,236,3,49

In [10]:
equalZero = df.copy()
equalZero[equalZero.columns[2:]] = pd.DataFrame([equalZero[col].apply(lambda x: x == '0') 
                                                 for col in equalZero.columns[2:]]).T


equalZeroRes = equalZero[equalZero.columns[2:]].sum(axis = 0)
if False not in (equalZero.iloc[0] == 0):
    print('Нет 0 в датафрейме - можно произвести экспоненциальную нормаировку')
equalZeroRes

Нет 0 в датафрейме - можно произвести экспоненциальную нормаировку

Si     0
K      0
Ca     0
Ti     0
Mn     0
Fe     0
Co     0
Ni     0
Cu     0
Zn     0
Pb1    0
Pb2    0
As2    0
Rb     0
Sr     0
Sn     0
Cr     0
dtype: int64

In [11]:
metals = df.columns[2:]

for metal in metals:
    df[metal] = df[metal].apply(lambda x: pd.to_numeric(x, errors= 'coerce'))
    print(len(df))
    df.dropna()
    print(len(df), '---')
    minEl = df[metal].min()
    '''print(minEl, metal, end = '/n')'''
    df[metal] = df[metal].apply(lambda x: 1 - np.exp(1 - (x / minEl)))
    
s = df[metals[0]].iloc[0]
type(s)
df[metals[0]].unique()

176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---
176
176 ---

array([0.88919684, 0.99720521, 0.92572642, 0.91954039, 0.99469974,
       0.99780154, 0.99630214, 0.91625677, 0.82093385, 0.99108482,
       0.99072099, 0.99177025, 0.99490757, 0.89771579, 0.86466472,
       0.98439244, 0.98015891, 0.99402398, 0.99583067, 0.61710711,
       0.98866659, 0.87996837, 0.98375549, 0.99510725, 0.55067104,
       0.98500442, 0.81362602, 0.99143439, 0.98168436, 0.78128811,
       0.7219627 , 0.99209295, 0.83470111, 0.98772266, 0.99352625,
       0.98820406, 0.99615122, 0.85339304, 0.98953794, 0.79810348,
       0.99566052, 0.91283915, 0.9903423 , 0.98994816, 0.99270087,
       0.9608361 , 0.96384717, 0.9942583 , 0.85914158, 0.99599415,
       0.99448344, 0.84740989, 0.99378009, 0.99697245, 0.8935415 ,
       0.99548342, 0.99326205, 0.99240299, 0.76307224, 0.99709116,
       0.78986393, 0.93918994, 0.84118257, 0.98670012, 0.68651382,
       0.98093689, 0.99915823, 0.93412525, 0.98911098, 0.77236231,
       0.7328647 , 0.94386524, 0.99672029, 0.96793531, 0.98722161,
       0.99298707,        nan, 0.        , 0.99820006, 0.99788775,
       0.90928205, 0.97156118, 0.71061578, 0.98615734, 0.99742009,
       0.97374766, 0.92269526, 0.51324774, 0.98559241, 0.66040447])

In [16]:
X_train, X_test, y_train, y_test = train_test_split(df[ df.columns[2:] ], df['point'], test_size= 0.3, random_state= 42)
y_train

152         massa
128         white
104         massa
78          white
36        4_white
          ...
71          white
106         white
14         6_blue
92     massa_pink
102         white
Name: point, Length: 123, dtype: object

In [ ]:
knn = KNeighborsClassifier()
knn.fit(x = X_train, y= y_train)
knn.predict(X_test)